# ===== FRONTEND =====
frontend/node_modules/
frontend/frontend/node_modules/
frontend/frontend/build/
kanye.jpeg

# ===== ML =====
ml/dataset/
ml/dataset.zip
ml/*.pth

# ===== PYTHON =====
__pycache__/
*.pyc

# ===== ENV =====
.env
.env.*

# ===== OS =====
.DS_Store
